<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= @book.status %></p>
<p><%= distance_of_time_in_words(Time.now, @book.lended_at) %></p>
<p><%= distance_of_time_in_words(Time.now, @book.returned_at) %></p>
<p><%= distance_of_time_in_words(Time.now, @book.updated_at) %></p>